.radio-box {
  display: flex;
  padding: 0 20px;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  .radio-item {
    display: flex;
    gap: 10px;
  }
}
.form-group {
  padding: 15px;
  label {
    font-weight: bold;
    margin-bottom: 13px;
  }
}
.footer-text {
  padding: 20px;
  font-style: italic;
  font-size: 20px;
}
