<div class="all-sum-page">
  <div class="my-total-info-zone">
    <div class="my-details-information">
      <li><label class="name">שם</label></li>
      <li><label class="youngAge">גיל</label></li>
      <li><label class="phone">טלפון</label></li>
      <li><label class="email">אימייל</label></li>
      <li><label class="gift">המתנה שבחרת</label></li>
    </div>
    <div class="my-mortgage-information">
      <li><label class="numberOfProperties">האם יש בבעלותכם נכס</label></li>
      <li><label class="mortgage">משכנתא קיימת</label></li>
      <li><label class="loan">הלוואת קיימות</label></li>
      <li><label class="loanReturn">החזר משכנתא קיים</label></li>
      <li><label class="netIncome">גובה משכורת</label></li>
      <li><label class="expenses">הוצאות</label></li>
      <li><label class="equity">הון עצמי</label></li>
      <li><label class="existingPropertyValue">שובי ערך נכס קיים</label></li>
    </div>
  </div>
  <div class="my-mortgage-calc-zone">
    <li><label class="totalEquity">הון עצמי</label></li>
    <li><label class="maxMortgageReturn">משכנתא מקסימלית</label></li>
    <li><label class="MaxMortgageHeight">גובה משכנתא</label></li>
    <li><label class="PurchaseAmount">גובה הרכישה</label></li>
  </div>
</div>
