<table class="table table-striped" *ngIf="headers && items">
  <thead>
    <tr>
      <th scope="col" *ngFor="let head of headers">{{head.title}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td *ngFor="let head of headers">
        <span *ngIf="head.type == 'text'">{{ item[head.name]}}</span>
        <button *ngIf="head.type == 'button'"><a href="{{item[head.name]}}" target="_blank">{{ item[head.name]}}</a></button>
        <button *ngIf="head.type == 'action'" (click)="emitAction(item[head.name])">לחץ כאן</button>
      </td>
    </tr>
  </tbody>
</table>
<!--<div class="d-flex justify-content-between p-2">-->
<!--  <ngb-pagination-->
<!--    [collectionSize]="collectionSize"-->
<!--    [(page)]="page"-->
<!--    [pageSize]="pageSize"-->
<!--    (pageChange)="refreshCountries()"-->
<!--  >-->
<!--  </ngb-pagination>-->
<!--  <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">-->
<!--    <option [ngValue]="2">2 items per page</option>-->
<!--    <option [ngValue]="4">4 items per page</option>-->
<!--    <option [ngValue]="6">6 items per page</option>-->
<!--  </select>-->
<!--</div>-->
